* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.title {
    color: rgb(12, 61, 45);
    margin: 20px;
    text-align: center;
}

.ul-1 {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.ul-1 li {
    list-style-type: none;
}

.ul-1 a {
    text-decoration: none;
    color: #1a1616;
    font-size: 20px;
    font-weight: 600;
}

.content p {
    width: 500px;
}

.content p a {
    font-size: 16px;
}